@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejouice;
    src: url(./Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
 
html, body{
    height: 100%;
    width: 100%;
}

#home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: pink;
}

#home video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#home #content{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.121); */
    position: relative;
    z-index: 9;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.3vw;
}

nav{
    width: 100%;
    padding: 3vw 2.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-family: nb;
    font-size: 1.4vw;
    font-weight: 100;
}

#content h1{
    font-weight: 100;
    font-family: rejouice;
    font-size: 27vw;
    line-height: 27vw;
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 50%;
    background-color: #FF5F38;
    z-index: 9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#cursor h5{
    font-family: nb;
    font-weight: 300;
    font-size: 1.08vw;
}

#page2{
    height: 85vh;
    width: 100%;
    background-color: #fffcf1;
}

#p2element{
    font-family: nb;
    padding: 4.6vw 2.8vw;
}

#p2head{
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.8px black solid;
}

#p2head #lefty h2{ 
    font-weight: 300;
    font-size: 1.63vw;
}

#p2head #righty h2{
    font-weight: 300;
    font-size: 1.73vw;
}

#p2content h1{
    padding: 1vw 0;
    font-size: 4.2vw;
    font-weight: 300;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 2.65rem;
}

#page3{
    height: 39vw;
    width: 100%;
    background-color: #fffcf1;
}

#p3content{
    padding: 11.5vw 28.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: nb;
}

#agency{
    padding-bottom: 1vw;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#agency h5{
    font-size: 1.15vw;
    font-weight: 300;
}

#agency span{
    font-size: 0.7vw;
    padding: 0.3vw 0.4vw;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    text-transform: capitalize;
}

#agency #arrow{
    font-size: 15px;
    color: black;
    background-color: transparent;
    align-items: center;
    transform: rotate(-90deg);
}

#explore{
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

#explore h1{
    font-size: 4.4vw;
    font-weight: 400;
}

#page4{
    height: 100vh;
    width: 100%;
    padding: 0.75vw 3vw; 
    background-color: #fffcf1;
    font-family: nb;
}

#p4head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p4head #arrow{
    font-size: 23px;
    color: black;
    background-color: transparent;
    align-items: center;
    /* transform: rotate(-90deg); */
    transform: scale(-1,1);
}

#p4head #righty{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p4head h3{
    font-weight: 300;
    font-size: 1.73vw;
}

